@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

/*_________________________Header_________________________*/

header a {
    text-decoration: none;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4; 
    background-color: rgba(43, 49, 52, 0.5);
}

.logo img {
    width: 70px;
    height: 67px;
    background: inherit;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    margin-right: 5%;
}

.logo p {
    font-size: 10px;
    color: #ffffff;
    padding-bottom: 10px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
}  

.login .logo-login {
    width: 50px;
    height: 50px;
}

.login div {
    padding: 10px 40px;
    border: #8b8b8a 1px solid;
    border-radius: 5px;
    background-color: #2E4B5F;
    cursor: pointer;
} 

/*_________________________Formulario_________________________*/

 .container  {
    width: 100%; 
    height: 1000px; 
    background-image: url(../images/imagendifuminada.png);
    background-size: cover;
    background-position: center;
  }

 #formulario {
    height: 50%;
}


.grid {
    height: 100%;
  padding: 2%;  
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2% 2%;
  /*transform: translate(-50%,-50%); */
  background-color: rgba(43, 49, 52, 0.5);
  border-radius: 10px;
}

h2 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
    color: #fff;
    width: 500px;
    margin: auto auto 2% auto;
    border-bottom: #8b8b8a 1px solid;
}

#formulario ul {
    height: 600px;
    list-style: none;
    margin-left: 20%;
    margin-right: 20%; 
}

#formulario ul li {
    color: #fcf4f4;
}

.material-symbols-outlined {
    margin-left: 5px;
    height: 100%;
    font-size: 30px;
    font-variation-settings:
  'FILL' 0,
  'wght' 1100,
  'GRAD' 0,
  'opsz' 24,
}

#formulario input { /*Darle estilos a los inputs*/
    display: inline;
    width: 100%;
    padding: 8px;
    margin-bottom: 0;
    border-bottom: #8b8b8a 1px solid;
    border-left: #8b8b8a 1px solid;
    border-top: none;
    border-right: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #8a8074;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #8b8b8a;
    transition: border-color 0.3s;
}

#formulario ul li div {
    display: flex;
}

.select-class {
    appearance: none;
}

.select-class select{
	width: 100%;
	cursor: pointer;
    margin-right: 0;
  	height: 42px;
	background: #ffffff;
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

#formulario input::placeholder {
    color: #8a8074;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
} 

.btn-login {
    display: block;
    font-family: inherit;
    background-color: #2E4B5F;
    transition: 0.5s;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: auto;  
    padding: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 10px 0px #2E4B5F;
}

.btn-cancel {
    display: block;
    margin: auto;
    font-family: inherit;
    background-color: #ffffff;
    color: #8b8b8a;
    border: #8b8b8a 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 10px 0px #8b8b8a;
    transition: background-color 0.3s;
}

/*_________________________Validación_________________________*/

#formulario input:focus {
	outline: none;
    border: 3px solid #0075FF;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.mensaje_error {
    display: none;
}

#false_symbols {
    display: none;
}

.material-symbols-outlined {
    display: none;
}

.mensaje_exito {
    display: flex;
    margin: auto;
    align-items: center;
}

/*_________________________Estilos de validación_________________________*/

.group_invalido .mensaje_error { /*Hacer que aparezca mensaje de error*/
    display: block;
    font-family: 'Poppins', sans-serif;
    color: #f00;
}

.group_invalido .validar { /*Cambiar el color al label rojo*/
    color: #f00;
    font-size: 1em;
}

.group_invalido .validar_input { /*Añadir borde rojo al input*/
    border-color: #f00;
}

.group_invalido #false_symbols { /*Icono de error color rojo*/
    display: block;
    color: #ff0000;
    font-size: 2.5em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,

}

.group_valido .validar_input {/*Añadir borde verde al input*/
    border-color: #0f0;
}

.group_valido .material-symbols-outlined { /*Icono de error color verde*/
    display: block;
    color: #00ff00;
    font-size: 2.5em;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}

.mensaje_exito-activo .mensaje_exito {
    display: block;
    margin: auto;
    grid-column: span 2;
    font-family: 'Poppins', sans-serif;
    color: #0f0;
} 

/*FOOTER*/

.footer {
    display: none;
    position: relative;
    width: 100%;
    height: 190px;
    left: 0;
    bottom: 0;
    padding-top: 30px;
    border-top: #8b8b8a 2px solid;
    background: linear-gradient(to top, #abb7f0, #ffffff);
    color: rgb(13, 37, 13);
    
}
.footer-content {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/ /* Centra verticalmente */
    /* max-width: 1200px; */

    margin: 0 auto;
    padding: 0 20px;
} 
.footer-section {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    text-align: center;
}
.footer-section h3 {
    margin-bottom: 10px;
}
  
.footer-section p {
    margin: 5px 0;
} 

.footer-bottom {
    /*margin-top: 20px;*/
    text-align: center;
    background-color: #abb7f0;
}