/*#93E6F9 Celeste clielo*/
/*#9BA7A9* Gris perla/
/*#3F888F Azul verdoso*/
/*#EBDDCC Beige*/
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    background-image: url("/images/ImagenPrueba4.jpg");
    background-repeat: repeat;
    background-size: cover;
}

h2 {
  margin-left: 150px;
}

section {
  background: hsl(210, 50%, 50%);
  opacity: 0.8;
  margin: 0 auto;
  margin-top: 90px;
  width: 500px;
  border-top: 50px;
  border: 1px solid #ccc;
  border-radius: 1em;

}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: left;
}

input {
  font: 1em sans-serif;
  border-radius: 0.5em;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus {
  border-color: #000;
}

.btn btn-login {
  text-align: right;
  border-radius: 1em;
  padding-left: 90px;
  margin-left: 0.5em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(to bottom, #001831, #012a57, #013e80);
  display: flex;
  align-items: center;
  min-height: 5px;
  background-color: #010333;
  padding: 40px 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  color: #EBDDCC;
  text-transform: uppercase;
  font-weight: 800;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #EBDDCC;
  display: block;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}



