* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calendar > div.fc-view-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    width: 400px;
    height: 600px;
}

#calendar > div.fc-view-container > div > table > thead > tr > td > div {
    background-color: #fff;
    border: none;
}