/* 
FUENTES  
Montserrat      ( para parrafos largos ) 
Rubik           (para subtitulos)
Archivo Black   (para titulos)

PALETA DE COLORES 
#2E4B5F
#B9AE9D
#CED8E2
#6C5B4D
*/ 
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;  
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

/*_________________________Header_________________________*/
/* header {
  position: sticky;
  top: 0;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(43, 49, 52, 0.5);

}

.logo img {
  width: 70px;
  height: 67px;
  background: inherit;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 400;
  
}

.login {
  display: flex;
  align-items: center;
  gap: 10px;
}  

.login .logo-login {
  width: 50px;
  height: 50px;
  padding-top: 6px;
  
}

.encabezado{
  font-family: "Archivo Black";
}

.menu a { 
  transition: font-size 0.5s, font-weight 0.5s;
}

.menu a:hover { 
  font-size: 20px;
  font-weight: 600;
}

.principal {
  background-image: url(app/assets/imagenes/christopher-jolly-GqbU78bdJFM-unsplash.jpg);
  background-size: cover;
  font-size: 1.2rem;
  color: white;
}

.home {
  display: flex;
  margin: 2em 5vw;
  padding: 1em;
  height: 70vh; 
  align-items: center;
}

.bienvenida {
  flex: 1 1 50%;
} */
.principal {
  background-image: url(app/assets/imagenes/christopher-jolly-GqbU78bdJFM-unsplash.jpg);
  background-size: cover;
  font-size: 1.2rem;
  color: white;
}

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header.scrolled {
  /* background-color: #fff; */
  background-color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 60px;
}

.right-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top-links{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid #000; 
}
.bottom-links{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.top-links a, .bottom-links a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.top-links a:hover, .bottom-links a:hover {
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .header-content {
      flex-direction: column;
      align-items: flex-start;
  }

  .left-section, .right-section {
      width: 100%;
      text-align: center;
  }

  .top-links, .bottom-links {
      justify-content: center;
  }
}
/*------------------ Habitaciones -----------------------*/
 
.habitaciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 1.5em 0.5em;
  padding: 1em 2em;
  gap: 1.5em;
}

.clearfix::before,
.clearfix::after {
display: table;
content: " ";
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.habitacion {
  float: left;
  padding: 1em;
  background-color: #f4f4f4;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 10px;
  clear: left;
}

.media-image {
  width: 50%;
  height: 100%;
  float: left;
  background-image: url("app/assets/images/habitacion2index.jpg");
  background-size: cover;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-right: 1em;
}

.media-body {
  overflow: auto;
  text-align: center;
}

.media-body h4 {
  text-align: center;
  padding-bottom: .5em;
}

.habitaciones .habitacion-content .habitacion button:hover img {
  cursor: pointer;
}

.habitaciones .habitacion-content .habitacion:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*----------Reservas----------*/

.reserva-container {
  background-color: #CED8E2;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px !important;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reserva-container h3 {
  margin: .5em .1em;
}

.reserva-form-group {
  margin-bottom: 1.3em;
}

.reserva-form-group label {
  display: block;
  margin-bottom: 5px;
}

.reserva-form-group input[type="number"],
.reserva-form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reserva-submit {
  display: block;
  width: 100%;
  padding: 0.8em;
  background-color: #2E4B5F;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.reserva-submit:hover {
  background-color: #0056b3;
}

.reserva-submit button {
  display: none;
}

/* footer */



/*----------Mapa----------*/ 

.map {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #CED8E2;
  border-radius: 10px;
  box-shadow: 10px 10px 4px rgba(101, 116, 112, 0.2);
  transition: box-shadow 0.5s ease;
  padding: 2em;
  margin: 1.5em 2em;
  font-family: 'Archivo Black';
}

.title-map {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.title-map > h1 {
  flex-basis: 25%;
  font-size: 2em;
  text-transform: uppercase;
}

.title-map > h2 {
  flex-basis: 25%;
}

.title-map {
  flex-basis: 50%;
}

.map-content {
  position: relative;
  padding: .5em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: box-shadow 0.3s ease; 
  transition: transform 0.5s ease;
}
.map-content:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
  z-index: 20;
}
.map-detail {
  width: 100%;
  height: 400px;
}

.map:hover {
  background-color: #bccfe2;
  box-shadow: 0px 0px 20px rgba(101, 113, 116, 0.6);
}