body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.error-container {
  display: flex;
  align-items: center;
  max-width: 80%;
  padding: 20px;
  background-color: #9BA7A9;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.error-image {
  flex: 1;
  padding: 20px;
}

.error-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.error-message {
  flex: 2;
  padding: 20px;
}

.error-message h1 {
  font-size: 28px;
  margin-top: 0;
}

.error-message p {
  font-size: 18px;
  color: white;
}


.home-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}