
/* 
FUENTES  
Montserrat      ( para parrafos largos ) 
Rubik           (para subtitulos)
Archivo Black   (para titulos)

PALETA DE COLORES 

#2E4B5F
#B9AE9D
#CED8E2
#6C5B4D

*/ 
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Playfair Display SC', sans-serif;
}

/*_________________________Header_________________________*/

header {
  position: sticky;
  top: 0;
}



header a {
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(43, 49, 52, 0.5);

}


.logo img {
  width: 70px;
  height: 67px;
  background: inherit;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
}

.logo p {  
  font-size: 10px;
  color: #ffffff;
  padding-bottom: 10px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;

  font-family: "Montserrat";
  font-optical-sizing: auto;
  font-weight: 400;
  
}



.login {
  display: flex;
  align-items: center;
  gap: 10px;
}  

.login .logo-login {
  width: 50px;
  height: 50px;
  padding-top: 6px;
  
}

.encabezado{

  font-family: "Archivo Black";
}

.parrafo{
  font-family: "Montserrat";
line-height: normal;
}

.menu  a { 
  transition: font-size 0.5s, font-weight 0.5s;
}

.menu  a:hover { 
  font-size: 20px;
  font-weight: 600;
}

#inicio-sesion p:hover{
  color: #007bff;
}
#inicio-registro p:hover{
  color: #007bff;
}

.principal {
  background-image: url(app/assets/imagenes/christopher-jolly-GqbU78bdJFM-unsplash.jpg);
  background-size: cover;
  font-size: 1.2rem;
  color: white;
}

   
.home {
  display: flex;
  margin: 2em 5vw;
  padding: 1em;
  height: 70vh; /*Esto es una mala practica, añadir altura explícita*/
  align-items: center;
  justify-content: center;
}

.bienvenida {
  flex: 1 1 50%;
}

.calendario {
  flex: 1 1 50%;
  background-image: url(../../Users/usuario/Downloads/e1354e08-b886-42a2-a9d6-e724aaf28aa2.png);
}
  
.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
  height: 90vh;
}

  .calendario-overlay {
    position: absolute;
    top: 50%;
    right: 5%; /* Ajusta el valor según sea necesario */
    transform: translateY(-50%);
    width: 300px; /* Ajusta el ancho según sea necesario */
    padding: 20px; /* Añade un espacio alrededor del calendario */
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo para el contenedor del calendario */
    border-radius: 10px; /* Agrega bordes redondeados al contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega sombra al contenedor */
}



  .estrellita {
    width: 25px;
    height: 25px;
  }

    .check-in{
    display: flex;
    flex-direction: row;
  }
   .check-out{
    display: flex;
    flex-direction: column;
  }
   .guests{
    display: flex;
    flex-direction: column;
  }


/* Habitacones */

  .habitaciones {
    display: flex;
  }
  
  .habitaciones .habitacion-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    justify-content: flex-end;
    justify-items: center;
    width: 75%;
    height: auto;
    margin: 0 auto;

  }

  
  .habitacion {
    flex-basis: calc(33.33% - 20px);
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 505px;
    transition: transform 0.3s ease;
  }
  .habitaciones .habitacion-content .habitacion button:hover img {
    cursor: pointer;
  }

  .habitaciones .habitacion-content  .habitacion:hover  {
    transform: scale(1.1);
    cursor: pointer;
  }  
  .habitacion img {
    max-width: 700px;
    height: 350px;
    width: 400px;
  }

/* footer */

.footer {
  background-color: whitesmoke;  /*#e8dac0*/
  color: black;
  padding: 30px 0;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente */
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  text-align: center;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

@media  (max-width: 1050px) {
  header .reserva .input-group {
    display: none;

  }
}
/* seccion de busqueda de habitaciones*/ 
.busqueda-fechas {
  background-color: #2E4B5F;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: #f1f1fb;
  margin-top: 20px;
  align-items: center; 
  font-weight: 300; 
}

 .busqueda-fechas h3 {
  font-size: 30px;
  margin-bottom: 5px;
  font-family: 'Montserrat';
}

 .busqueda-fechas form {
  display: flex;
  flex-wrap: wrap;
}

.busqueda-fechas label {
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
}

 .busqueda-fechas input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.busqueda-fechas input[type="submit"] {
  position: relative;
  flex-wrap: wrap;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

 .busqueda-fechas input[type="submit"]:hover {
  background-color: #0056b3;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000; /* Ancho, estilo (solid, dashed, dotted, etc.), y color */
  background-color: #d0e9e3;
  transition: background-color 0.5s ease;
  border-width: 0.5px; 
  border-radius: 4px;
  /* border-style: solid; */
  border-color: #657470;
  box-shadow: 2px 2px 4px rgba(101, 116, 112, 0.2);
  transition: box-shadow 0.5s ease;
  padding: 50px;
  margin: 50px;
  
  
  
}
.map:hover {
  background-color: #c8e2dc;
  box-shadow: 0px 0px 20px rgba(101, 116, 112, 0.6);
}

.title-map {
  flex: 1;
  padding: 20px;
}

.content-map {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  gap: .5em;

}

.map-content {
  position: relative;
  
  padding: .5em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  transition: box-shadow 0.3s ease; 
  transition: transform 0.5s ease;
}
.map-content:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
  z-index: 20;
}
.map-detail {
  width: 100%;
  height: 400px;
}





/* Reservaas*/
.reserva-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reserva-form-group {
  margin-bottom: 20px;
}

.reserva-form-group label {
  display: block;
  margin-bottom: 5px;
}

.reserva-form-group input[type="number"],
.reserva-form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reserva-submit {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reserva-submit:hover {
  background-color: #0056b3;
}

