@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.item__icon--img {
  width: .9em;
  height: .9em;
  margin-right: 0.3em;
}

ul {
    list-style: none;
}

h1,
h2 {
    font-family: Archivo Black;
}

h3,
h4,
h5,
h6,
a,
legend {
    font-family: Rubik;
}

p, span {
    font-family: Montserrat;
}

footer {
  background-color: #e1edf6;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
}


.footer-item {
  flex-basis: 33.33%;
}

.item {
  display: flex;
  padding: 0.5em;
  margin: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.item__icon {
  height: 1.5em;
  width: 1.5em;
  font-size: 20px;
}

a:hover {
  color: #B9AE9D;
}

.horizontal-list--vertical {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  justify-content: space-between;
  list-style: none;
}



