@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

ul {
    list-style: none;
}

h1,
h2 {
    font-family: Archivo Black;
}

h3,
h4,
h5,
h6,
a,
legend {
    font-family: Rubik;
}

p, span {
    font-family: Montserrat;
}

/* 
Modulo los input de los formularios

Modulo 
Markup:
<li class="form__item">
    <p class="item-lp" {{modifier-class}}">
        <label></label>
        <input>
    </p>
    <span class="msg-ctrl"></span>
</li>

Styleguide Media
*/

.form__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    width: 24em;
    padding: 0.5em;
    font-weight: bold;
}

.msg-ctrl {
    display: none;
}

.msg-ctrl--valid {
    display: block;
    color: #68a7d2;
    font-weight: 600;
}

.msg-ctrl--invalid {
    display: block;
    color: red;
    font-weight: 600;
}

.item-lp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5em .2em;

}

.item-lp > input {
    width: 10em;
}

/* 
Modulo formulario

Modulo para un formulario de longitud del 90% del viewport y centrado en la pantalla
Markup:
<form class="form">
    <fieldset>

    </fieldset>
</li>

Styleguide Media
*/
.form {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    padding: 2em;
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid #0e2330;
    border-radius: 4px;
}

/*Bordes*/


.border {
    border: 1px solid #0e2330;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.3em gray;
}

.border--invalid {
    border: 1px solid red;
}

.border--valid {
    border: 1px solid #4291c6;
}

/*Fonts*/

.text--invalid {
    color: red;
}

