@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat;
  font-size: 16px;
}


.media-object {
    display: flex;
    padding: 1em 0;
    gap: 0.5em;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

.media-object .item-left {
    display: flex;
    gap: 0.4em;
    margin: 0 0.5em;
}

.item-left img {
    border-radius: 5px;
}

.media-object > .item-right {
    display: flex;
    flex-direction: column;
}

.item-right > h1 {
    font-weight: bold;
    text-transform: uppercase   ;
}


.item-left > img {
    width: 10em;
    height: 10em;
}
