@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 1.5em;
}

main>*+* {
    margin-left: 1em;
} 
