/* 
Modulo nav

Modulo para una lista horizontal
Markup:
<ul class="horizontal-list {{modifier}}">    
</ul>

Styleguide Media
*/
.horizontal-list {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    list-style: none;
}

.horizontal-list--vertical {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    justify-content: space-between;
    list-style: none;
}